body
{
    font-family: 'Open Sans', sans-serif
}

h1, h2, h3
{
    margin-top:0.1em;
    margin-bottom:0.1em;
}

#headerleft
{
    display:inline-block;
}

#headerright
{
    display:inline-block;
}

#headerright ul
{
    margin-bottom:0.1em;
}

#headerright li
{
    display:inline;
    padding-right:1em;
}

#main
{
    border-top:solid 2px gray;
}

footer
{
    clear:left;
}

#displayarea
{
    float:left;
    width:75%;
    border-right:solid 2px gray;
    min-height:40em;
    padding-top:0.2em;
}

.wordwrap { 
   white-space: pre-wrap;      /* CSS3 */   
   white-space: -moz-pre-wrap; /* Firefox */    
   white-space: -pre-wrap;     /* Opera <7 */   
   white-space: -o-pre-wrap;   /* Opera 7 */    
   word-wrap: break-word;      /* IE */
}

#control
{
    margin-left:76%;
    min-height:40em;
    padding-right:0.5em;
}

.controlentry
{
    width:100%;
}

.controlentry::-webkit-input-placeholder 
{
  font-style:italic;
}

.controlentry:-moz-placeholder 
{
    font-style:italic;
}

.controlentry:-ms-input-placeholder
{
    font-style:italic;
}

.production
{
    width:100%;
    font-family:'Inconsolata', monospace;
    padding:0.2em 0em 0.2em 0em;
}

.productionHover
{
    border:dashed 1px lightgray;
}

.productiontext
{
    padding-left:2em;
    padding-top:0.2em;
}

.productionedit
{
    font-family:'Inconsolata', monospace;
}

#renderexplain
{
    margin-top:0.5em;
}
